---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body data-theme="dark" class="notransition">
		<Header />
		<div class="wrapper post">
			<main class="page-content" aria-label="Content">
				<article itemscope itemtype="https://schema.org/BlogPosting">
					<header class="header">
						<div class="tags">
							<!-- <span itemprop="keywords"> <a class="tag" href="/tags/#cli">CLI</a> </span> -->
						</div>
						<h1 class="header-title" itemprop="headline">{title}</h1>
						<div class="post-meta">
							<time datetime="{{ date | htmlDate }}" itemprop="datePublished">
								<FormattedDate date={pubDate} />
							</time>
							<span
								itemprop="author"
								itemscope
								itemtype="https://schema.org/Person"
							>
								<span itemprop="name">Sharif Mohammad Eunus</span>
							</span>
							<time
								hidden
								datetime="{{ date | htmlDate }}"
								itemprop="dateModified"
							>
								<FormattedDate date={pubDate} />
							</time>
							<span hidden itemprop="publisher" itemtype="Person"
								>Sharif Mohammad Eunus</span
							>
						</div>
					</header>
					<div class="page-content" itemprop="articleBody">
						<slot />
					</div>
				</article>
			</main>
		</div>

		<Footer />
	</body>
</html>
